﻿/**
 *  file       : 20230314°0951 striking.css
 *  summary    : Experiments with striking-through elements
 *  changelog  : chg 20230612°1241 File put into folder daftari/css/
 */

/**
 *  rule 20230314°1011
 *  summary :
 */
div.BoxForSolution { border:4px dotted LightGray; padding-left:0.7em; border-radius:0.7em; }


/**
 *  rule 20230314°1021
 *  summary :
 *  ref : https://stackoverflow.com/questions/14593415/how-to-strike-through-obliquely-with-css [ref 20230313°1012] Answer 2016-Nov-08`02:11 by user, part 1 of 2
 *  note : As opposed to the original solution, the color is adjusted 
 *  note : Any padding works only partially
 *  usage : Prototype page 20230522°0621
 */
.StrikeDiag1 {
   background: linear-gradient(to left top, transparent 47.75%, Red 49.5%, Red 50.5%, transparent 52.25%),  /* currentColor */
               linear-gradient(to right top, transparent 47.75%, Red 49.5%, Red 50.5%, transparent 52.25%);  /* currentColor */
}
/* .WithPadding1 { padding: 0 0.15em; } */


/**
 *  rule 20230314°1031
 *  summary :
 *  ref : https://stackoverflow.com/questions/14593415/how-to-strike-through-obliquely-with-css [ref 20230313°1012] Answer 2016-Nov-08`02:11 by user, part 2 of 2
 *  note : If you don't need the element to be fully inline, you can use pseudo a element ...
 */
.StrikeDiag2 {
   display: inline-block;
   position: relative;
}
.StrikeDiag2::before {
   content: '';
   position: absolute;
   left: -0.1em;
   right: -0.1em;
   top: 0.38em;
   bottom: 0.38em;
   background: linear-gradient(to left top, transparent 45.5%, Red 47.5%, Red 52.5%, transparent 54.5%), /* currentColor */
               linear-gradient(to right top, transparent 45.5%, Red 47.5%, Red 52.5%, transparent 54.5%);
   pointer-events: none;
}


/**
 *  rule 20230314°1041
 *  summary :
 *  ref : https://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css [ref 20230313°1014] Answer 2013-Nov-07`23:05 by RobertT
 *  note : As opposed to the original solution, color and line width is adjusted 
 */
.Strike01Robert {
     background: 
         linear-gradient(to top left,
             rgba(256,0,0,0) 0%,
             rgba(256,0,0,0) calc(50% - 1.4px),
             rgba(256,0,0,1) 50%,
             rgba(256,0,0,0) calc(50% + 1.4px),
             rgba(256,0,0,0) 100%),
         linear-gradient(to top right,
             rgba(256,0,0,0) 0%,
             rgba(256,0,0,0) calc(50% - 1.4px),
             rgba(256,0,0,1) 50%,
             rgba(256,0,0,0) calc(50% + 1.4px),
             rgba(256,0,0,0) 100%);
}


/**
 *  rule 20230314°1051
 *  summary :
 *  ref : https://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css [ref 20230313°1014] Answer by Intrepidis on 2015-Mar-10`21:17 improved by Shaw on 2019-Jun-12`07:49
 *  note : 
 */
.IntrepidisShaw1 {
   background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line stroke-width='3' x1='0' y1='0' x2='100' y2='100' stroke='Red' vector-effect='non-scaling-stroke'/><line stroke-width='3' x1='0' y1='100' x2='100' y2='0' stroke='Red' vector-effect='non-scaling-stroke'/></svg>");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%, auto;
}


/**
 *  rule 20230314°1111
 *  summary :
 *  ref : https://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css [ref 20230313°1014] Answer by Romanos on 2020-Nov-25`20:24
 *  note : The answer was not complete, it was just the SVG, the framing code is borrowed from above
 */
.Romanos {
   background: url("data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" stroke-width="1" stroke="#000"><line x1="0" y1="0" x2="100%" y2="100%"/><line x1="100%" y1="0" x2="0" y2="100%"/></svg>");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%, auto;
   border:2px dashed Pink; /* Debug */
}


/**
 *  rule 20230314°1121
 *  summary :
 *  ref : https://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css [ref 20230313°1014] Answer by Prahlad on 2020-Oct-01`09:34
 *  note : Using background-image:repeating-linar-gradient
 */
.Crossed1Prahlad {
   width: 200px;
   height: 200px;
   border:solid 1px;
   background-color: rgb(210, 137, 226);
   background-image: repeating-linear-gradient (
      45deg
      , transparent
      , transparent 15px
      , #ccc 10px
      , #ccc 20px
   )
   , repeating-linear-gradient (
      135deg
      , transparent
      , transparent 15px
      , #ccc 10px
      , #ccc 20px
   );
}
