﻿/**
 * id : file 20200105°0141 styleslocal.css
 * encoding : UTF-8-with-BOM
 */

/* rule 20240708°1141 For the version paragraph below the page title line */
p.ScriptVersionLine { font-family:monospace, monospace; text-align:center; margin-top:-1.1em; }

/* eof */
